html, body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
  background-color: #FFEE00
  
  
}

div {
  padding: 3rem;
  width: 100%;
}


.first {
  background-color: red;
  margin: 50px;
  font-size: 48px;
}

.container {
  display: flex;

}

.main {
  padding-left: 30px;
}

.nav {
  display: inline;
  background-color: #FFEE00;
  width: 160px;
}
.nav li {
display: inline;
}

